
.diffContent {
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}

md-input-container {
  flex: auto;
  width: 70px;
}

app-p5-view {
  display: block;
  width: 100%;
}






