:host {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.drawing-result {
  width: 100%;
}

.learnImagesCard {
  grid-column: ~"1 / 2";
}

.training-progress {
}

