<mat-card>
  <mat-card-title>
    Some WebGl Shader Examples inspired by&nbsp;
    <a target="_blank" href="https://thebookofshaders.com">The Book of Shader</a>
  </mat-card-title>
  <mat-card-content>
    <mat-checkbox class="toolbar-checkbox" [(ngModel)]="showCodeEditor">Show live code editor</mat-checkbox>
    <mat-checkbox class="toolbar-checkbox" [(ngModel)]="showFps">Show FPS</mat-checkbox>
  </mat-card-content>
</mat-card>
<mat-card class="shaders-container" (swipeleft)="nextPage()"
          (swiperight)="previousPage()">
  <button mat-mini-fab color="primary" class="navigation-button left" (click)="previousPage()">
    <mat-icon aria-label="Previous page">keyboard_arrow_left</mat-icon>
  </button>
  <mat-grid-list [@animator]="animationState" (@animator.done)="resetAnimationState()" class="shaders-grid-list"
                 cols="{{(shadersPaged$ | async)?.length * 6 || 12}}" rows="6" rowHeight="fit"
                 gutterSize="10">
    <ng-container *ngFor="let shader of (shadersPaged$ | async); trackBy: trackByIndex">
      <mat-grid-tile class="editor-tile"
                     *ngIf="showCodeEditor"
                     [colspan]="4"
                     [rowspan]="6">
        <app-code-editor
          class="code-editor"
          [codeTitle]="shader.description"
          [(code)]="shader.code"
          mode="glsl">
        </app-code-editor>
      </mat-grid-tile>
      <mat-grid-tile class="shader-tile"
                     [colspan]="showCodeEditor? 2 : 6"
                     [rowspan]="showCodeEditor? 2 : 6">
        <mat-grid-tile-header *ngIf="!showCodeEditor">{{shader.description}}</mat-grid-tile-header>
        <div #shaderRenderer class="shader-renderer">
          <app-render-shader
            [shaderCode]="shader.code"
            [showFps]="showFps"
            [canvasWidth]="shaderRenderer.clientWidth"
            [canvasHeight]="shaderRenderer.clientHeight">
          </app-render-shader>
        </div>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <button mat-mini-fab color="primary" class="navigation-button right"
          (click)="nextPage()">
    <mat-icon aria-label="Next page">keyboard_arrow_right</mat-icon>
  </button>
</mat-card>
<mat-paginator
  showFirstLastButtons="true"
  [pageIndex]="(currentPage$ | async)?.pageIndex"
  [length]="shaders.length"
  [pageSize]="pageEvent.pageSize"
  [pageSizeOptions]="[1,2,3,4,5,6]"
  [hidePageSize]="isSmallScreen"
  (page)="changeCurrentShaderPage($event)">
</mat-paginator>
