<mat-toolbar color="primary">
  <mat-toolbar-row>
    Some WebGl Shader Examples inspired by&nbsp;
    <a target="_blank" href="https://thebookofshaders.com">The Book of Shader</a>
    <span class="toolbar-spacer"></span>
    <mat-checkbox class="toolbar-checkbox" [(ngModel)]="showCodeEditor">Show live code editor</mat-checkbox>
    <mat-checkbox class="toolbar-checkbox" [(ngModel)]="showFps">Show FPS</mat-checkbox>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <
    <mat-paginator
      showFirstLastButtons="true"
      [pageIndex]="(currentPage$ | async)?.pageIndex"
      [length]="shaders.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[1,2,3,4,5,6]"
      (page)="changeCurrentShaderPage($event)">
    </mat-paginator>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list class="shaders-container" cols="{{(shadersPaged$ | async)?.length}}" rowHeight="fit" gutterSize="10">
  <mat-grid-tile class="shader-container"
                 *ngFor="let shader of (shadersPaged$ | async); trackBy: trackByIndex">
    <mat-card class="code-card" appRaiseCard *ngIf="showCodeEditor">
      <mat-card-header>Fragment-shader code</mat-card-header>
      <mat-card-content class="code-editor">
        <app-code-editor [(code)]="shader.code" mode="glsl"></app-code-editor>
      </mat-card-content>
    </mat-card>
    <mat-card class="canvas-card" appRaiseCard>
      <mat-card-header>{{shader.description}}</mat-card-header>
      <mat-card-content #shaderRenderer class="shader-renderer">
        <app-render-shader
          [shaderCode]="shader.code"
          [showFps]="showFps"
          [canvasWidth]="rendererWidth"
          [canvasHeight]="rendererHeight">
        </app-render-shader>
        <div class="shader-code" [innerHTML]="shader.code | safe">
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
