<div class="logged-in">
  <ng-container
    *ngIf="authenticationService.user | async; then showLoggedIn; else showLogin">
  </ng-container>
  <ng-template #showLoggedIn>
    <mat-chip-list class="mat-elevation-z2">
      <mat-chip [color]="'accent'" matTooltip="Welcome {{ user.displayName }}"><img [src]="user.photoURL"></mat-chip>
    </mat-chip-list>
    <button mat-mini-fab color="primary" (click)="logout()" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-template>
  <ng-template #showLogin>
    <div class="logged-in">
      <div class="mat-caption caption">Please login.</div>
      <button mat-mini-fab color="warn" (click)="login()">
        <mat-icon>input</mat-icon>
      </button>
    </div>
  </ng-template>
</div>
