@import '../variables';

.navigationSidenav {
  max-width: 300px;
}

.pageGrid {
  display: grid;
  grid-template-rows: $main-toolbar-height calc(100vh - #{$main-toolbar-height});
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-areas: "header" "main";
  width: 100vw;
  overflow: hidden;
}

app-main-toolbar {
  height: $main-toolbar-height;
  grid-area: header;
}

.pageContent {
  grid-area: main;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .pageGrid {
    grid-template-rows: $main-toolbar-height__small auto;
  }

  app-main-toolbar {
    height: $main-toolbar-height__small;
  }
  .pageContent {
    padding: 0;
  }
}

.mat-drawer-content {
  overflow: hidden;
}

